
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 5%;
}

.dialogsItems a {
    color: whitesmoke;
    text-decoration: none;
}

.dialogsItems a.active {
    color: tomato;
}

.dialog {
    padding: 5%;
}

.messages {
    margin: 1% 0 0 0;
}

.message {
    padding: 1%;
}

.sendMessage {
    position: relative;
    width: 50px;
    left: 15px;
}

.sendMessage textarea {
    width: 250px;

}

.sendMessage button {
    position: absolute;
    bottom: 4px;
    left: 260px;
    color: blue;
}

